body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  :root {
    --bg: 255,255,255;
    --fg: 33,33,33;
    --accent: 59,130,246;
    --brand: 59, 130, 246;
  }
  .dark {
    --bg: 17,24,39;
    --fg: 243,244,246;
    --accent: 96,165,250;
    --brand: 96, 165, 250;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;